
.price-quantity-wrapper {
    position: relative;
    height: 50px;
    line-height: 50px;
    margin: 10px 0;
}
.price-quantity-wrapper .price-wrapper {
    height: inherit;
    line-height: inherit;
    float: left;
}
.price-quantity-wrapper label, .price-quantity-wrapper .input-field label {
    line-height: initial;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
}
.price-quantity-wrapper .price-wrapper [data-product-price] {
    font-size: 28px;
    vertical-align: middle;
}
.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
.price-quantity-wrapper .price-wrapper [data-compare-price] {
    font-size: 16px;
    vertical-align: middle;
    color: rgba(0,0,0,0.6);
}
.price-quantity-wrapper .quantity-counter {
    height: inherit;
    line-height: inherit;
    float: right;
}
.input-field.quantity-counter {
    height: 40px;
    margin: 0;
}
.price-quantity-wrapper .quantity-counter label {
    right: 0;
    left: auto;
}
.input-field.quantity-counter label {
    font-size: .8rem;
}
.price-quantity-wrapper .quantity-counter input[type=number], .price-quantity-wrapper .quantity-counter .remove, .price-quantity-wrapper .quantity-counter .add {
    vertical-align: middle;
}
.input-field.quantity-counter input[type=number] {
    width: 50px;
    margin: 0;
    text-align: center;
    box-shadow: none;
    border: 0;
    -moz-appearance: textfield;
}

@keyframes quantity-active {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.3);
    }
}

.active_quantity {
    transform: scale(1.3);
    animation: ease-in-out alternate;
    animation-name: quantity-active;
    animation-duration: .6s;
}